build/
!build/*.xml
vendor/
phpunit.xml
composer.lock
Tests/UseCases/*/Cache
Tests/UseCases/*/Logs
cache.properties

bin

.idea/workspace.xml
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
